# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Model ve veri dosyaları
models/*.h5
data/
*.h5
*.pkl

# Logs
*.log
logs/

# Kaggle
.kaggle/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# OS
.DS_Store
Thumbs.db 